

.wd-search-tuits {
    background-color: white;
    bottom: 6px;
    left: 20px;
}
.wd-gear {
    display: inline;
    font-size: 20px;
    position: absolute;
    border-style: hidden;
}


.wd-f-size {
    font-size: 12px;
}


