body {
    background-color: black;
}



.wd-search-tuiter {;
    bottom: 6px;
    left: 20px;
}
.wd-gear {
    display: inline;
    font-size: 15px;
    position: absolute;
    border-style: hidden;
}

.wd-underline {
    border-bottom: solid 4px rgb(29,161,242);
    padding-bottom: 10px;
}



