.wd-avatar-image {
    width: 48px;
}
.wd-borderRadius20px {border-radius: 20px;}

.wd-width100 { width: 100%;}

.wd-whiteFont {color:var(--white);}
.wd-lightGreyFont {color:var(--lightGrey);}
.wd-fontBold {font-weight: bold}
.wd-font16 {font-size: 16px;}
.wd-font30 {font-size: 30px;}
.wd-flex {display: flex}
.wd-flex-row {
    display: flex;
    flex-direction: row;}
.wd-flex-wrap {display: flex; flex-wrap: wrap;}
.wd-font20 {font-size: 20px;}
.wd-flex-column {display: flex; flex-direction: column;}
.wd-whiteBG{background-color: white;}
.wd-lightGreyBG {background-color: #F6F6F6;}
.wd-darkGreyBG {background-color: var(--darkGrey);}
.wd-blackBG {background-color: var(--black);}
